  header {
    background-color: var(--calc-color-bg-secondary);
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 0.0675rem solid #666157;
    box-shadow: 0 4px 6px rgba(9, 22, 214, 0.5);
}
  
  header nav#navbar {
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 20, 43, 0.15);
    margin: 0 auto;
  }
  
  
  header nav#navbar .nav-main {
    font-size: 1.0rem;
    color: var(#FFF);
  }

  header nav#navbar .nav-brand {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  

  header nav#navbar ul.nav-list {

    list-style: none;
  }

  
  header nav#navbar ul.nav-list li:hover {
   width: 3rem;
   height: 3rem;
  
  }
