.footer-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--primary);
    margin: 0.5rem auto;
  }

  h5 {  
    color: var(--white);
    font-weight: 100;
    font-size: 1.25rem;
  }