.footer-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--primary);
    padding: 1rem;
    margin: 0.5rem auto;
  }

  h5 {  
    color: var(--white);
    font-weight: 100;
    font-size: 1.25rem;
  }

  @media (max-width: 640px) {
    h5 {
    font-size: 0.75rem;
    font-weight: 50;
    }
  }
  