.wallet-balance {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: var(--primary);
    font-size: 1.25rem;
    position: relative;
    top: -5px;
    left: -5px;
}

.calc-wallet {
    margin-top: 0.5rem;
    transition: width 2s;
}

.calc-wallet > img:hover {
    width: 1.5rem;
    zoom: normal;
}