.wallet-balance {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-size: 1.25rem;
    position: relative;
    top: -5px;
    left: -5px;
}

.calc-wallet {
    margin-top: 0.5rem;
}